[Unit]
Description=MySQL Exporter
After=network.target

[Service]
User=mysqld_exporter
WorkingDirectory=/opt/mysqld_exporter-{{ mysqld_exporter_version }}
ExecStart=/opt/mysqld_exporter-{{ mysqld_exporter_version }}/mysqld_exporter \
  --config.my-cnf=/etc/.my.cnf
Restart=on-failure

[Install]
WantedBy=multi-user.target
